@charset "utf-8";


/*contents*/
#contents {
    height:1300px;
    background-image: url(../images/bg_dot.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto,cover;
}