@charset "utf-8";
*{margin:0;padding:0;box-sizing: border-box;}
li{list-style:none;}
a:link,a:visited{color:black;}
a{text-decoration: none;}
img{display:block;}
.clearfix:after{content:"";clear:both;display:block;}