@charset "UTF-8";

body { font-family: 'Open Sans', sans-serif; }

#headerWrap { width: 100%; }

/* ★★ --- header -- 헤더 */
.header {
  margin: 0 auto;
  background: #0868a4;
  background-image: url(../images/headerbg.png);
  background-repeat: no-repeat;
  background-position: top;
}

.utilmenu {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utilmenu .log {
  width: 144px;
  height: 46px;
}

/* contact -- 헤더 > 타이틀 > SNS */
.utilmenu .contact {
  right: 0;
}
.utilmenu .call {
  float: left;
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 16px;
}
.utilmenu .sns {
  float: left;
}

/* search -- 헤더 > 타이틀 > 검색 */
.utilmenu .searchWrap {
  width: 290px;
  height: 30px;
  background: #fff;
  border-radius: 20px;
  line-height: 27px;
  position: relative;
}

legend {
  display: block;
  position: absolute;
  left: 0; top:-9999px
}

.utilmenu .searchWrap label {
  font-size: 15px;
  font-weight: bold;
  padding-left: 18px;
}

.utilmenu .searchWrap .inp-field {
  width: 170px;
  height: 20px;
  text-indent: 10px;
  font-size:14px;
  border: 0 none;
}

.utilmenu .searchWrap .icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top:8px; right:16px;
  background-image: url(../images/icon_search.png);
  text-indent: -9999px;
}


/* gnb -- 헤더 > 메뉴 */
.gnbWrap {
  width: 100%;
  background: #F9F9F9;
  border-bottom: 6px solid #0E73A7;

}

.gnb {
  width: 980px;
  height: 60px;
  margin: 0 auto;
}

.gnbWrap>ul>li {
  float: left;
  display: block;
  width: 160px;
  line-height: 60px;
  border-right: 1px solid #E5E5E5;
  text-align: center;
  font-weight: bold;
}
.gnbWrap>ul>li:nth-child(1) {border-left: 1px solid #E5E5E5;}


/* ★★ --- contentWrap */
#contentWrap { width: 100%; position: relative;
background-image: url(../images/background.jpg);
padding: 50px 0; }

.main_pack { width: 980px; margin: 0 auto;  position: relative;}

.contents { float:  left;}

/* booking 예약 폼 영역 */
.booking > .formWrap > p {
  width: 485px; height: 300px;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contentWrap > banner */
.banner01, .banner02 { float: left; }

/* card == common 공통적용태그  */
.card { margin: 21px 15px 0 0; }
.card > img { width: 235px; height: 240px; }
.card .prodbox { display: flex; align-items: flex-end; }
.card .prodbox > a {
  position: absolute;
  display: flex;
  align-items: center;
  padding:0 10px;
  width: 235px; height: 50px;
  font-size: 1rem; font-weight: bold;
  background: #152630;
}
.card .prodbox > a > p {
  float: left; color: #fff; }
.card .prodbox > a > p:nth-child(1) { margin-left: 10px;}
.card .prodbox > a > p:nth-child(2) { color: #6fc564; right: 0; margin-right: 10px; }
.card .prodbox > a > .arrow {
  width: 10px; height: 15px;
  background-image: url(../images/icon_arrow.png);
  text-indent: -9999px;
}

/*검색창 아웃라인 none*/
input:focus { outline : none; }

/* title */
.title { float: left; padding: 40px;  text-align: center;}
.title h2 { font-size: 75px; font-weight: 900; }
.title p { font-size: 30px;  }





/* ddd */
