@charset "utf-8";
body{min-width:980px}

/*header*/
.utilWrap{border-bottom: 1px solid #eee;}
.util{width: 980px;margin: 0 auto;}
.uMenu{_width: 330px;float: right;}
.uMenu li{float: left;padding: 0 10px;position: relative;}
.uMenu li:last-child{padding-right:0;}
.uMenu li a{display: block;line-height:35px;font-size:12px}
.uMenu li:after{
    content:"";position: absolute;width: 1px;height: 10px;
    background: #00f;right:0;top:12px
}
.uMenu li:last-child:after{content:"";display: none;}

#header h1{text-align: center; padding:20px}

.gnbWrap{background: #1c5da3;}
.gnbMenu{width: 980px;margin: 0 auto;}
.gnbMenu li{float: left;width:calc(100% / 6);border-left: 1px solid #fff;}
.gnbMenu li:last-child{border-right: 1px solid #fff;}
.gnbMenu a{display: block;line-height:40px;text-align: center;color:white}
.gnbMenu a:hover{color:#fff;background:#4f74a1;}

/*visual wrap*/
.visualWrap{
    height: 400px;overflow: hidden;
/*
    background-color: #223a6a;
    background-image: url(../images/main_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
*/
    background:#223a6a url(../images/main_bg01.jpg) no-repeat center;
}
.visual{width: 980px;height: 400px;margin:0 auto;position: relative;}
.visual .vImg1,
.visual .vImg2{position: absolute;}
.visual .vImg1{right: 0;top: -10px;}
.visual .vImg2{left: 0;top:76px}

/*section*/
.section{background: #eee;}
.banner{width: 980px;margin: 0 auto}
.banner li{float: left;width:calc(100% / 5);padding-top:10px}
.banner li a {display: block;height: 196px;text-align: center; color:white}
.banner li h3 { font-size:18px; }
.banner li p { font-size:14px; }
.banner li:nth-child(1){background: #7c99b9;}
.banner li:nth-child(2){background: #4f74a1;}
.banner li:nth-child(3){background: #4b8ce0;}
.banner li:nth-child(4){background: #3db5f3;}
.banner li:nth-child(5){background: #95c8ff;}

/* contWrap1st */
.contWrap1st { width: 980px; margin:0 auto; margin-top:50px; }
.contWrap1st li { float:left; width:310px; margin-right: 25px; }
.contWrap1st li:last-child { margin-right: 0; }

.contWrap1st .body { 
    padding:10px 20px 10px 20px;
    border: 1px solid #ccc;
    border-top:0 none; }

.contWrap1st img { display:block; }
.contWrap1st h3 { font-size:18px; }
.contWrap1st p { 
    font-size:14px; color:#888888; 
    padding:10px 0 10px 0; }


/*content 2st*/
.contWrap2st{width: 980px;margin: 0 auto; margin-top:50px; }
.contWrap2st li{
    position: relative;overflow: hidden;
    float: left; width:310px;margin-right: 25px;
    border: 1px solid #ccc;
    padding: 20px;
}
.contWrap2st li:last-child{margin-right: 0;}
.contWrap2st img{position: absolute; right: -50px;}
.contWrap2st .body{width: 150px;}
.contWrap2st p { font-size:14px; color:#888888; }
.contWrap2st .body a{font-size: 12px; color:#4b8ce0}


/* footer */
#footer { background: #eee; padding-bottom:20px 0; margin-top: 50px;; }
.footerTopWrap { background:#ccc; }
.footerTop { width: 980px; margin: 0 auto; }
.footerTop li { float:left; }
.footerTop li a { 
    display: block;
    padding: 0 20px;
    line-height:40px; }
.footerTop li:first-child a { padding-right: 0; }
.footerTop li:after { content: ""; display: block;}

.footerBottom { width: 980px; margin: 0 auto; }
.footerBottom h3 { float:left; }
.footerBottom .copy {  }




/*common*/
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}