@charset "utf-8";


/*contents*/
#contents {
    height:1300px;
    background-image: url(../images/bg_dot.gif), url(../images/main_bg.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center;
    background-size:auto,cover;
    padding:100px 0;
}

#contents .titleWrap {
    width: 1200px;
    height: 260px;
    background: violet;
    margin: 0 auto;
    margin-bottom: 50px;

}

#contents .container {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

/* >꺽쇠를 넣는 이유 : 나중에 또 쓰는 경우가 있어서 자식요소임을 확실히해줌 */
#contents .container>ul>li {
    float: left;
    width: 25%;
    height: 225px;
}

#contents .container>ul>li:nth-child(2n) { background: pink; }
#contents .container>ul>li:nth-child(1) { width: 75%; height: 450px; background: gray; }
#contents .container>ul>li:nth-child(2) { height: 450px; }
#contents .container>ul>li:nth-child(3) {  }
#contents .container>ul>li:nth-child(4) {  }
#contents .container>ul>li:nth-child(5) {  }
#contents .container>ul>li:nth-child(6) {  }
#contents .container>ul>li:nth-child(7) {  }
#contents .container>ul>li:nth-child(8) {  }