@charset "UTF-8";

/* header */
#header .mainTitle {
  width: 100%;
  height: 40px;
  background: #0044af;
  top:0;
 }

#header .gnb { width: 1200px;
  margin: 0 auto;  }

.gnbleft { float:left; }
.gnbleft>li { background: #00163b;
   text-align: center;
  float: left; margin-right:3px; width: 120px;  }
.gnbleft>li>a {
    font-size: 14px; font-weight: bold;
    color:#ffffff; line-height: 40px;
    display: block;  }

.gnbleft>li>a:hover { background: #ffffff; color:#6b6b6b; }

.gnbright { float: right; }
.gnbright>li { float: left; }
.gnbright>li>img { vertical-align:middle;}
.gnbright>li,
.gnbright>li>a { color:#ffffff; font-size: 12px;
  line-height: 40px; padding:0 5px; }
.gnbright>li>a { font-weight: bold;}

.title { width: 1200px; height: 120px; margin:0 auto; }
.title>.logo { float: left; }
.gnbmenu>ul { float: right; }
.gnbmenu>li { float: left; }

/* contents */
/* #contents { height:1300px;
  background-image: url(../images/bg_dot.gif),
  url(../images/main_bg.jpg);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: auto, cover;
  padding:100px 0; } */
